<div ng-include src="'partials/public/header_manage.html'"></div>  
  <div class="container">
      <span>
      <button class="btn btn-success " data-toggle="modal" data-target="#addCardCategory">
        <i class="fa fa-plus"></i> 新建礼品
      </button>
      </span>
      <span class="pull-right">
      	<input type="text">
      </span>
      <hr>
      <table class="table table-hover">
	  	<thead>
	  		<th>卡号</th>
	  		<th>姓名</th>
	  		<th>性别</th>
	  		<th>卡型</th>
	  		<th>办卡时间</th>
	  		<th>操作</th>
	  	</thead>
	  	<tbody>
			<!-- On rows -->
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
			<tr>
				<td>18538355517</td>
				<td>哈哈</td>
				<td>男</td>
				<td>积分卡</td>
				<td>2014-03-01</td>
				<td></td>
			</tr>
	  	</tbody>
	</table>
  </div>
  <!-- 侧边导航 -->
  <nav class="app-switcher">
    <ul class="list list-tabs">
      <li>
        <a href="#/cardcategory" class="app">
          <span class="fa fa-credit-card"></span>
          <span>会员卡</span>
        </a>      
      </li>
      <li>
        <a href="#/member" class="app">
          <span class="fa fa-users"></span>
          <span>会员</span>
        </a>  
      </li>
      <li>
        <a href="#/credit" class="app active">
          <span class="fa fa-gift"></span>
          <span>兑换</span>
        </a>  
      </li>
      <li>
        <a href="#/analysis" class="app">
          <span class="fa fa-clock-o"></span>
          <span>回顾</span>
        </a>  
      </li>
      <li>
        <a href="#/setting" class="app">
          <span class="fa fa-cogs"></span>
          <span>偏好</span>
        </a>  
      </li>
    </ul>
  </nav>