.aside-bar {
  float: left;
  width: 40%;
  height: 100%;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
}
.content {
  position: relative;
  float: right;
  width: 60%;
  height: 100%;
  padding: 120px 70px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.content > h1{
  height: 1px;
  text-indent: -9999px;
}

/* style for love page*/
body.love{
  background-image: url('https://dn-st.qbox.me/pages/images/ribbon.png');
  background-repeat: no-repeat;   
  background-position: center;
}
.content.love{
  float: none;
  width: 800px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px -400px;   
  padding: 30px 0; 
}
.content.love .form-wrapper{
  width: 300px;
  margin-left: 330px;
}
.content.love .form-wrapper .love-brand{
  width: 264px;
  height: 105px;
  background-image: url('https://dn-st.qbox.me/pages/images/love-brand.png');
}
.content.love .form-wrapper h1{
  margin-left: -99999px;
}
.content.love .form-wrapper .brand{
  margin: 0 auto;
}
.content.love .form-wrapper .form-unit h2{
  text-align: center;
}
.content.love .signup-form .signup,
.content.love .signup-form .forget,
.content.love .signup-form span{
  margin-left: 40px;
}
.content.love .signup-form input{
  padding: 10px 15px;
}
.signup-form input.special {
  border-color: #468847;
  background-color: #e7f9e8; 
}
.signup-form input.special:focus{
  border-color: #356635;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.content.love .signup-form button{
  width: 302px;
}

.content.love .form-wrapper .form-unit.info{
  width: 300px;
  margin-top: 120px;
}
.content.love .form-wrapper .form-unit.info h2{
  font-size: 38px !important;
  margin-bottom: 30px;
}
.content.love .form-wrapper .form-unit.info p{
  margin-bottom: 26px;
  text-align: center;
  font-size: 20px;
  color: #999;
  text-shadow: 0 1px 0 white;
}
.content.love .form-wrapper .form-unit.info .btn{
  width: 140px;
  margin: 0 5px;
}



/* ---------------------- */
.brand {
  display: block;
  margin-left: -30px;
  width: 250px;
  height: 40px;
  background-image: url('../image/cophealogo.png');
  background-size: 185px 36px;
  background-position: center;
  background-repeat: no-repeat;
}
.brand h1 {
  text-indent: -9999px;
}

.binding > div{
  float: left;
  height: 40px;
  background-repeat: no-repeat;
}

.binding .cooperator.github{
  width: 92px;
  background-image: url(https://dn-st.qbox.me/pages/images/github@2x.jpg);
  background-position: left center;
  background-size: 92px 36px;    
}

.binding .cooperator.mingdao{
  width: 60px;
  background-image: url(https://dn-st.qbox.me/pages/images/mingdao@2x.jpg);
  background-position: -4px bottom;
  background-size: 60px 36px;
}

.binding .arrow{
  width: 27px;
  height: 38px;
  margin-left: 16px;
  background-image: url(https://dn-st.qbox.me/pages/images/arrow@2x.png);
  background-position: left center;
  background-size: 27px 25px;
}

.binding .teambition{
  width: 185px;
  margin-left: 20px;
  background-image: url(https://dn-st.qbox.me/pages/images/logo@2x.jpg);
  background-position: left top;
  background-size: 185px 36px;
}

.slide-wrapper{
  width: 300px;
  overflow: hidden;
}

.slide-wrapper .slider{
  position: relative;
  width: 620px;
  min-height: 500px;
  /*white-space: nowrap;*/
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.slide-wrapper .slider.active{
  -webkit-transform: translate3d(-320px,0,0);
  -moz-transform: translate3d(-320px,0,0);
  -o-transform: translate3d(-320px,0,0);
  transform: translate3d(-320px,0,0);
}

.slide-wrapper .slider .form-unit.create{
  position: absolute;
  left: 0;
  opacity: 100;
}

.slide-wrapper .slider.active .form-unit.create{
  opacity: 0;
}

.slide-wrapper .slider .form-unit.bind{
  opacity: 0;
  position: absolute;
  left: 320px;
}

.slide-wrapper .slider.active .form-unit.bind{
  opacity: 100;
}

.slide-wrapper .form-unit{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}

.form-unit > h2{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #a6a6a6;
}
.form-unit.info{
  width: 500px;
  margin-top: 100px;
  text-align: left;
}
.form-unit.info .success-icon{
  /*display: inline-block;*/
  float: left;
  width: 100px;
  height: 100px;
  background-image: url('https://dn-st.qbox.me/pages/images/success-info-icon.png');
  background-repeat: no-repeat;
  background-position: left 23px;
  background-size: 70px 71px;
}
.form-unit.info .error-icon{
   /*display: inline-block;*/
  float: left;
  width: 100px;
  height: 100px;
  background-image: url('https://dn-st.qbox.me/pages/images/error-info-icon.png');
  background-repeat: no-repeat;
  background-position: left 23px;
  background-size: 70px 71px;
}

.form-unit.info .info-content{
  float: left;
  width: 400px;
}
.form-unit .info-content h1{
  margin-top: 20px;
  font-size: 34px;
  color: #66819d;
  font-weight: normal;
}
.form-unit .info-content h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  font-family: Helvetica;
  color: #a7b5c4;
}

.form-unit .button-wrapper .btn{
  display: inline-block;
  width: 160px;
  height: 40px;
  margin-right: 10px;
  padding: 0;
  line-height: 40px;
  font-size: 16px;
  color: #66819d;
}

.form-unit .button-wrapper .btn-primary{
  color: #fff;
  text-shadow: 0 1px #111;
}
.form-unit .error-block{
  position: relative;
  display: inline-block;
  padding: 5px 7px;
  margin-bottom: 13px;
  color: #d58a8a;
  border: 1px solid #d58a8a;
  border-radius: 3px;
  background-color: #fff4f4;
}
.form-unit .error-block:after{
  position: absolute;
  left: 20px;
  margin-left: -6px;
  bottom: -12px;
  border: 6px solid transparent;
  border-top: 6px solid #fff4f4;
  content: '';
}
.form-unit .error-block:before{
  position: absolute;
  left: 20px;
  margin-left: -6px;
  bottom: -13px;
  border: 6px solid transparent;
  border-top: 6px solid #eb5f5f;
  content: '';
}
.signup-form {
  position: relative;
}
.signup-form input {
  height: 50px;
  width: 300px;
  margin-bottom: 30px;
  font-size: 14px;
}

.signup-form label {
  position: absolute;
  left: 350px;
  top: 50px;
  color: #b94a48;
}
.signup-form .btn {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 2px;
}
.signup-form .action-wrapper > a,
.signup-form .action-wrapper > span {
  color: #aaa;
  margin-left: 20px;
  font-size: 14px;
}

.cooperator-wrapper{
  position: absolute;
  left: 400px; 
  top: 200px;
  padding-left: 30px;
}

.cooperator-wrapper::before{
  content: '';
  position: absolute;
  height: 130px;
  width: 1px;
  background-color: #ddd;
  left: 0;
  top: 30px;
}

.cooperator-wrapper > p{
  opacity: 0;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: normal;
  color: #a6a6a6;
}

.cooperator-wrapper a.btn{
  display: block;
  width: 200px;
  height: 50px;
  line-height: 34px;
  margin-bottom: 30px;
  color: #808080;
  text-align: left;
  background-image: -webkit-linear-gradient(top, #fefefe, #fcfcfc);
  background-image: -moz-linear-gradient(top, #fefefe, #fcfcfc);
  background-image: -o-linear-gradient(top, #fefefe, #fcfcfc);
  background-image: -linear-gradient(top, #fefefe, #fcfcfc);

}

.cooperator-wrapper a.btn:hover{
  border: 1px solid #bbb;
}

.cooperator-wrapper a.btn i.icon{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -4px 15px 0 5px;
  background-size: 25px 25px;
  vertical-align: middle;
}

.cooperator-wrapper a.btn i.icon.github-icon{
  background-image: url(https://dn-st.qbox.me/pages/images/icon-github@2x.jpg);
}

.cooperator-wrapper a.btn i.icon.mingdao-icon{
  background-image: url(https://dn-st.qbox.me/pages/images/icon-mingdao@2x.jpg);
}


/* for small screen display */
@media (max-width: 767px) {
  .aside-bar {
    display: none;
  }
  .brand {
    display: block;
    height: 40px;
    margin: 0 auto;
    background-image: url('../image/cophealogo.png');
    background-size: 185px 36px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .brand h1 {
    text-indent: -9999px;
  }
  .content {
    float: none;
    width: 270px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0;

  }
  .form-unit h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica;
    color: #666;
  }
  .signup-form {
    position: relative;
  }
  .signup-form input {
    display: inline-block;
    width: 270px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .signup-form label {
    position: absolute;
    left: 350px;
    top: 50px;
    color: #b94a48;
  }
  .signup-form .action-wrapper {
    display: inline-block;
    width: 272px;
    line-height: 36px;
  }
  .signup-form .btn {
    float: left;
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 2px;
  }
  .signup-form .signup,
  .signup-form .forget,
  .signup-form span {
    color: #aaa;
    margin-left: 26px;
    font-size: 14px;
  }
}


